# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Environment variables
.env
*.env

# System
.DS_Store
Thumbs.db
